:root {
  --sheet-color: #d7d4cd;
  --cardlyblue1: #a8c6fa;
  --cardlyblue1sub: #e4edfe;
  --cardlypurple: #c9bae7;
  --cardlypurplesub: #e8e3ff;
  --cardlypink: #ffb4b0;
  --cardlypinksub: #ffece9;
  --cardlypinkplus: #ffa382;
  --cardlyyellow: #ffe3ae;
  --cardlyyellowsub: #fdeed3;
  --cardlygreen: #cbe8ba;
  --cardlygreensub: #e2f4e2;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif !important;
}

#logo_cardly,
#logo_footer {
  --st0: #6e6e6d;
  --st1: #8dc2ce;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

/*header*/
.navbar{
  top:0;
  align-items:center;
}
.navbar-toggler{
  margin: 0 auto;
}
.nav-link{
  color:black!important;
}


header {
  display: flex;
  height:100px;
  justify-content: space-between;
}

/*Footer*/
#logo_footer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

footer {
  background-color: #ececec;
  padding-bottom: 50px;
  padding-top: 50px;
}


ul {
  background: white;
}

@media (min-width: 992px){
  .nav_item ~ .nav_item{
    border-left:2px black solid;
  }
  .nav_item{
    width:140px;
    text-align: center;
  }
}
