body {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin: auto;
}

#back_ground {
  background: white;
}

.card-header {
  background: white !important;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: var(--cardlypink);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 1em;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

#back_forgot {
  background: white;
}
