body {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin: auto;
  background: no-repeat url("../images/_background-login_register.png");
  background-size: 70%;
}

#back_ground {
  background: white;
}

.card-header {
  background: white !important;
}

#inscription-tab.active {
  border-bottom: 2px var(--cardlyblue1) solid !important;
}

#connexion-tab.active {
  border-bottom: 2px var(--cardlypink) solid !important;
}

ul {
  display: flex;
  justify-content: space-around;
}

input[id="nickname"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 1em;
  border: none;
  cursor: pointer;
  width: 100%;
}

.card-login {
  padding: 16px;
}

#inscription_color {
  background-color: var(--cardlyblue1);
}

#connexion_color {
  background-color: var(--cardlypink);
}

#inscription label {
  color: var(--cardlyblue1);
}

#connexion label {
  color: var(--cardlypink);
}

.container {
  background-color: white !important;
}

